@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    z-index: 3;
}
body{
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.card-pictures{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-pictures_item{
    display: flex;
    flex-direction: column;
    padding: 6px;
    gap: 6px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.card-pictures_item_img{
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}
.card-pictures_item_img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.card-pictures_item_img img:hover{
    transform: scale(1.1);
    transition: 1s 30ms;
}
.card-pictures_item_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.card-pictures_item_details_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.card-pictures_item_details_left_icone{
    width: 50px;
    height: 50px;
}
.card-pictures_item_details_left_inf0 span{
    display: block;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.card-pictures_item_details_right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.card-pictures_item_details_right_icone{
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-pictures_item_details_right_icone img{
    width: 29px;
    height: auto;
}